.likeandcommentIcons {
    padding-left: 1%;
}
.likes {
    padding-left: 2%;
}
.image {
    width: 100%;
}
.headerH4 {
    padding-left: 2%; 
    display: flex;
    align-items: center;
}
.thumbnail {
    border-radius: 50%;
    width: 5%;
    margin-right: 2%;
}
.containerDiv {
    margin: 7% 0%;
    border: 1px solid lightgrey; 
}
.masterDiv {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}



